@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --width-container-header: 80%;
  --height-container-header: 6rem;
  --margin-container-header: 10%;

  --width-container-block2-header: calc(var(--width-container-header) / 2.5);
  --width-container-image: calc(var(--width-container-block2-header) / 1.75);
}

.header {
  max-width: 1400px;
  width: var(--width-container-header);
  height: var(--height-container-header);
  margin: 0px auto;
  padding: 0.5%;
  border-bottom: solid 5px;
  border-image: linear-gradient(to left, rgb(189, 189, 189), #1976d2) 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0%;
    padding: 2rem;
    font-family: "Volkhov", serif;
    letter-spacing: 3px;
  }

  .iconProfile {
    width: var(--width-container-block2-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;

    .section-notification {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .notification-number {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: small;
        text-align: center;
        background-color: gray;
        font-family: "PT Sans", sans-serif;
        font-weight: 500;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    h2 {
      align-self: flex-end;
      justify-self: flex-end;
      font-size: large;
    }

    > .image-avatar-block {
      max-width: var(--width-container-image);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .image-avatar {
        width: 100%;
      }
    }
  }
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  top: calc(var(--height-container-header) + 5px) !important;
}

.blockOption {
  margin: 0.3rem;
  padding: 0 0.5rem;
  border: solid rgb(165, 165, 165) 1.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  .button-option {
    width: 100%;
    margin: 0.5rem;
  }
}

.block-notification {
  width: 250px;
  max-height: 200px;

  margin: 0.3rem;
  padding: 0 0.5rem;
  border: solid rgb(165, 165, 165) 1.5px;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  overflow: auto;

  .notification {
    width: 95%;

    max-height: 100px;
    margin: 5px auto;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.block-notification::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.block-notification::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}
