@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@400&display=swap");

:root {
  --width-html: 100vw;
  --height-html: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Yantramanav", sans-serif;
}
html {
  width: var(--width-html) !important;
  height: var(--height-html) !important;
}
body {
  background-color: rgb(255, 255, 255);
}

h1 {
  color: rgb(0, 0, 0);
}
